<h2>Frequency 12</h2>

<script>
  const data = <%=   @mtb_paths.to_json %>;
</script>

<div id='map' style='width: 400px; height: 300px;'></div>


<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiY2l0eW1vbml0b3IiLCJhIjoiY2t1MmE0Z3p1MHgyYTJ4dDl0ZGY1MGw3OCJ9.7HDRm7hTZV2-9HmE8Zbz1g';
  const map = new mapboxgl.Map({
  container: 'map', // container ID
  style: 'mapbox://styles/mapbox/streets-v11', // style URL
  center: [-74.5, 40], // starting position [lng, lat]
  zoom: 9 // starting zoom
  });
</script>