<html>
<head>
  <link rel="stylesheet" href="/app.css">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
</head>
<body>
  <h1>Hello</h1>
  <%= yield %>
</body>
</html>


<%# pk.eyJ1IjoiY2l0eW1vbml0b3IiLCJhIjoiY2t1MmE0Z3p1MHgyYTJ4dDl0ZGY1MGw3OCJ9.7HDRm7hTZV2-9HmE8Zbz1g %>